@media (orientation: landscape) and (min-width: 769px) {
   .under_construction {
    display: none;
  }
   .web_app {
    z-index: auto;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 0;
    height: 0;
  }
}
@media (orientation: portrait) and (min-width: 769px) {
   .under_construction {
    display: none;
  }
   .web_app {
    z-index: auto;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 0;
    height: 0;
  }
}
@media (orientation: landscape) and (max-width: 768px) {
   .under_construction {
    display: none;
  }
   .web_app {
    z-index: auto;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 0;
    height: 0;
  }
}
@media (orientation: portrait) and (max-width: 768px) {
   .under_construction {
    display: none;
  }
   .web_app {
    z-index: auto;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 0;
    height: 0;
  }
}
